<div class="card  border-0 mb-3">
  <div class="row align-items-center g-3">
    <div class="col-12 col-lg-4">
      <img [src]="imgSrc" class="img-fluid rounded" alt="...">
    </div>
    <div class="col-12 col-lg-8">
      <div class="card-body">
        <h5 class="card-title">Title: {{title}}</h5>
        <h6 class="h6">Ingredients:</h6>
        <ol class="">
          <li *ngFor="let item of ingredients">{{item}}</li>
        </ol>
        <p class="card-text">{{desc}}</p>
        <p class="card-text"><small class="text-body-secondary">Social Rank => {{rank}}</small></p>
      </div>
    </div>
  </div>
</div>
